@model IEnumerable<VisitOnline.Database.Tabels.VisitRequest>
@{
    ViewData["Title"] = "SeeVisit";
    Layout = "~/Views/Shared/_PanelSickLayout.cshtml";
}

<div class="col-xl-9 col-lg-8 col-md-7 p-2">
    <div class="card border-0 rounded-custom-2 shadow-sm p-3 h-100">
        <div class="col-sm-12 p-2">
            <p class="h2 ismb text-b d-flex align-items-center justify-content-between">
                ویزیت های دریافتی
                <i class="bi bi-menu-down"></i>
            </p>
            <hr class="my-2">
        </div>
        <div class="py-3">
            <div class="col-xxl-11 m-auto p-1">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                
                                <th class="text-center" scope="col">
                                    عنوان
                                </th>
                                <th class="text-center" scope="col">
                                    شماره ویزیت
                                </th>
                                <th class="text-center" scope="col">
                                    تاریخ در خواست
                                </th>
                                <th class="text-center" scope="col">
                                    پاسخ پزشک
                                </th>
                                <th class="text-center" scope="col">
                                    تاریخ پاسخ پزشک
                                </th>
                              
                                <th class="text-center" scope="col">
                                    وضعیت
                                </th>
                                <th class="text-center" scope="col">
                                    عملیات
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                            <tr>

                                <td class="text-center text-secondary">
                                    @item.Title
                                </td>
                                <td class="text-center text-secondary">
                                    @item.NumberNoskhe
                                </td>
                                <td class="text-center text-secondary">
                                    <span>
                                        @item.DateRequest
                                    </span>
                                </td>
                                <td class="text-center text-secondary">
                                    <span>
                                        @item.AnswerDoctor
                                    </span>
                                </td>
                                <td class="text-center text-secondary">
                                    <span>
                                        @item.DateAnswer
                                    </span>
                                </td>    
                                <td class="text-center">
                                    @switch (item.Status)
                                    {
                                        case "waiting":
                                            <span class="badge bg-warning">
                                                در انتظار پاسخ
                                            </span>
                                            break;
                                        case "reject":
                                            <span class="badge bg-danger">
                                                منتفی
                                            </span>
                                            break;
                                        case "OK":
                                            <span class="badge bg-success">
                                                پاسخ داده شد
                                            </span>
                                            break;
                                    }

                                </td>
                                <td class="text-center">
                                    @*<a href="" class="btn btn-sm btn-outline-info" onclick="GetRequsetData(@item.NumberNoskhe)">
                                       
                                        <i class="far fa-eye"></i>

                                    </a>*@
                                    <a href="" class="btn btn-sm btn-outline-success" title="مشاهده و ویرایش"   onclick="GetRequsetData(@item.NumberNoskhe)">
                                        
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a href="" class="btn btn-sm btn-outline-danger" title="حذف" onclick="GetRequsetDelete(@item.NumberNoskhe)">
                                        <i class="far fa-trash-alt"></i>
                                        
                                    </a>
                                </td>
                            </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
    </div>
</div>
<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content shadow rounded-custom-3">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-6 col-md-12 col-sm-6 col-12 p-1">
                    <div class="col-10 align-self-center p-1">
                        <p class="h5 text-dark my-1">
                            شماره ویزیت
                        </p>
                        <p class="h6 text-secondary my-1" id="jNV">

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-12 p-1">
                    <div class="col-10 align-self-center p-1">
                        <p class="h5 text-dark my-1">
                            نام پزشک
                        </p>
                        <p class="h6 text-secondary my-1" id="nB">

                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-12 p-1">
                    <div class="col-10 align-self-center p-1">
                        <p class="h5 text-dark my-1">
                            توضیحات بیمار
                        </p>
                        <textarea class="form-control" id="input22" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-12 p-1">
                    <div class="col-10 align-self-center p-1">
                        <p class="h5 text-dark my-1">
                            توضیحات پزشک
                        </p>
                        <textarea class="form-control" id="input32" rows="3"></textarea>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6 col-12 p-1">
                    <div class="col-10 align-self-center p-1">
                        <p class="h5 text-dark my-1">
                             تاریخ پاسخ
                        </p>
                        <p class="h6 text-secondary my-1" id="dA">

                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    function GetRequsetData(id) {
       
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: "/Panel/VisitData/" + id,
            data: {}
        }).done(function (res) {
            console.log(res)
            $("#alertModal").modal("show");
            $("#jNV").text(res.numberNoskhe);
            $("#nB").text(res.nameSick);
            $("#input22").val(res.description);
            $("#input32").val(res.answerDoctor);
            $("#dA").text(res.dateAnswer);
        })
    }

    function GetRequsetDelete(id) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: "/Panel/DelReqSic/" + id,
            data: {}
        }).done(function (res) {
            if (res) {
                window.location.reload();
            }
        })
    }
</script>
}